<style>

</style>

<div class="login-container">
    <h1>Login</h1>
    <form action="api/login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <a href="forgotPassword">Forgot password ?</a>
        <button type="submit">Login</button>
    </form>
</div>